*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6f7;
}

header{
    display: flex;
    background-color: rgb(11, 10, 27);
    box-shadow: 1px 4px 8px #3a3a3a;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 2.5rem;
}

.hamb{
    color: beige;
    padding: 0 30px;
    font-size: 1.5rem;
    display: none;
}

header a{
    text-decoration: none;
    color: beige;
    font-size: 1.3rem;
    padding-right: 20px; 
}

.hero{
    display: flex;
    background: linear-gradient(rgba(53, 82, 66, 0.7), rgba(47, 80, 63, 0.8)), url(./imagenes/DSC_0365.JPG);
    background-size: cover;
    background-position: center;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
}

.hero > h1{
    font-size: 3em;
    padding: 10px;
    margin-left: 10px;
    text-shadow: 3px 3px rgba(53, 82, 66, 0.9);
}

.hero > p{
    font-weight: 600;
    margin-left: 20px;
    text-shadow: 2px 2px rgba(53, 82, 66, 0.9);
}

.cabania > h2{
    text-transform: uppercase;
    text-decoration-line: overline;
    margin-bottom: 20px;
    padding-top: 50px;
}

.cabania{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotosCabania{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.fotosCabania img{
    width: 49%;
    border-radius: 5px;
    margin: 2px;
    
}

.cita{
    background: linear-gradient(rgba(53, 82, 66, 0.7), rgba(47, 80, 63, 0.8)), url(./imagenes/DSC_0144.JPG);
    background-size: cover;
    background-position: center;
    background-color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cita h3{
    color: beige;
    font-size: 1.5em;
    padding-top: 15px;
}

.cita p{
    color: beige;
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    font-style: oblique;
}

.comillas{
    color: rgb(0, 0, 0);
    background-color: beige;
    font-size: 3em;
    border-radius: 25px;
}

.cajaCita{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.exteriores{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.exteriores h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: overline;
    margin-bottom: 20px;
    padding-top: 50px;
}

.fotosExteriores{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.fotosExteriores img{
    width: 49%;
    border-radius: 5px;
    margin: 2px;
}

.testimonios > h2{
    text-transform: uppercase;
    text-decoration-line: overline;
    margin-bottom: 20px;
    padding-top: 50px;
}

.testimonios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoTestimonios{
    display: flex;
    flex-wrap: nowrap;
    width: 75%;
    justify-content: space-between;
}

.quotes{
    width: 30%;
}

.quotes > p{
    text-align: justify;
}

h4{
    padding: 5px 0 10px 0;
}

.datos{
    height: 550px;
    background-color: #e6e6e6;
    width: 75%;
    display: flex;
    margin: 35px auto 50px auto;
    border-radius: 20px;
}

.datos h3{
    text-align: center;
    font-size: 2em;
    margin-top: 5px;
}

.contacto{
    width: 50%;
}

.consultas{
    width: 50%;
}

.formulario{    
    display: flex;
    justify-content: center;
    height: 90%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form input{
    width: 70%;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 4px 8px #3a3a3a;
    margin-bottom: 5px;
}

form label{
    font-size: 1.1em;
    padding: 5px 0;
}

h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: overline;
    padding-top: 50px;
}

.iconos{
    font-size: 40px;
}

.redes{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    justify-content: space-evenly;
    height: 80%;
    margin-left: 3%;
}

.redes a{
    text-decoration: none;
}

.redes span{
    font-size: 0.5em;
    margin-left: 20px;
}

footer{
    background-color: rgb(11, 10, 27);
    padding: 20px;
}

footer > nav{
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-bottom: 15px;
}

footer a{
    color: beige;
    text-decoration: none;
    font-size: 1.2em;
}

footer p{
    color: beige;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 5%;
}

footer p{
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 600px){

    

    header > nav{
        display: none;
    }

    header{
        justify-content: center;
    }

    .hamb{
        display: block;
    }

    .fotosCabania > img{
        flex-basis: 100%;
    }

    .cajaCita{
        flex-basis: 70%;
    }

    .comillas{
        font-size: 2rem;
    }

    .cita p{
        font-size: 1.2rem;
    }

    .cita h3{
        font-size: 1rem;
    }

    .fotosExteriores > img{
        flex-basis: 100%;
    }

    footer > nav{
        display: none;
    }

    footer .iconos{
        font-size: 1.5rem;
    }

    .textoTestimonios{
        flex-wrap: wrap;
    }

    .quotes{
        flex-basis: 100%;
    }

    
}